body {
	max-width: 1000px;
	margin: auto;
	text-align: center;
	background-image: url("magicBackground.jpg");
	background-color: #1c1c1c;
	color: #e8e9e9;
	font-family: arial;
}

table, th, td {
	color: black;
	clear: left;
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 4px;
}

th {
	background-color: #458c9e;
}

td {
	background-color: #fff;
}

a.matchButton:link, a.matchButton:visited, a.matchButton:active {
	color: black;
	float: left;
	font-size: 1.2em;
	text-decoration: none;
	padding: 5px;
	margin: 15px 10px;
	background-color: #458c9e;
	border: 1px solid #306370;
}

a.matchButton:hover {
	background-color: #57acc2;
}

form {
	color: black;
	background-color: #458c9e;
	border: 1px solid #306370;
	padding: 5px;
}

p.message {
	color: red;
	padding: 4px;
	border: 1px solid red;
}

a.order:link, a.order:visited, a.order:active {
	color: black;
	text-decoration: none;
}